<form action="ajouterevent.php" method="POST">
    
              <h5>Ajout Evenement</h5><br>


  <label for="validationCustom10">id</label>
    
      <input type="number" name="id" class="form-control"  placeholder="Entrer l'ID de l'Evenement " required>
   


    <label for="validationCustom10">Titre</label>
     
        <input type="text" name="Titre" class="form-control" placeholder="Entrer le Titre " required>  
      

   

    <label for="validationCustom10">Description</label>
     
      <input type="text" name="Description" class="form-control" placeholder="Entrer la Description " required>
   
    
   

    <label for="validationCustom10">Date Debut</label>
    
      <input type="date" name="DateD" class="form-control"  required>
   
    
   

    <label for="validationCustom10">Date Fin</label>
    
      <input type="date" name="DateF" class="form-control"  required>
    
    
   

    <label for="validationCustom10">Image</label>
     
      <input type="file" name="Image" class="form-control">
   
  

 

  
    <button class="btn btn-dark mr-2  ms-graph-metrics"><a href="evenement.html">Vider </a></button>
    <input class="btn btn-primary " name="submit" type="submit" value="Ajouter">
  

     
  </form>